* {
    font-family: monospace
}


p{
    color: purple;
}

body {
    font-size: 22px;
    background: papayawhip;
    border: 3px solid white;
}

.red {
    color: red;
}

#id_name {
    font-style: italic;
}

h1, h2 {
    color:red;
}

p span {
    background-color: brown;
    color: white;
}

.gold {
    color: gold;
}

.uni{
    color : white;
}


#c1 {
    color: rgb(0,0,255);
}

#c2{
    color: red;
}

#c3{
    color: rgba(0, 0, 0, 0.468);
}