* {
    font-family: monospace;
}


p{
    color: purple;
}

body {
    font-size: 22px;
    background-color: #333;
    color: #eee;
    border: 3px solid white;
}

.red {
    color: red;
}

#id_name {
    font-style: italic;
}

h1, h2 {
    color: aquamarine;
}

p span {
    background-color: brown;
    color: white;
}

.gold {
    color: gold;
}