* {
    font-family: monospace
}


p{
    color: purple;
}

body {
    font-size: 22px;
    background: papayawhip;
    border: 3px solid black;
}

.red {
    color: red;
}

#id_name {
    font-style: italic;
}

h1, h2 {
    color:red;
}

p span {
    background-color: brown;
    color: white;
}

.gold {
    color: gold;
}

.uni{
    color : white;
}


#c1 {
    color: rgb(0,0,255);
}

#c2{
    color: red;
}

#c3{
    color: rgba(0, 0, 0, 0.468);
}


#Percent {
    border: 2px dashed blue;
    width: 50%;
}

#Rootem {
    font-size: 2rem;
}

#columns {
    font-size: 2rem;
    width: 20ch ;
}


.margin{
    background-color: red;
    color: black;
    border: blue dashed 5px;
    text-align: center;
    margin: 2em auto;
    padding: 2em;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.border{
    background-color: rgb(0, 51, 128);
    color: yellow;
    border: black dashed 5px;
    text-align: center;
    margin: 2em auto;
    padding: 2em;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}